<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>注文情報確認</h1>
      <table class="table">
        <thead>
          <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <%# @cart_items.each do |cart_item| %>
          <tr>
            <td>product.name</td>
            <td>price</td>
            <td>amount</td>
            <td>小計</td>
          </tr>
          <% #end %>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <td>支払い方法</td>
            <td><%= @order.payment_method %></td>
          </tr>
          <tr>
            <td>お届け先</td>
            <td>〒<%= @order.postal_code %><%= @order.address %><%= @order.name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


