<% provide(:title, "#{@product.name}") %>
<div class="row">
  <div class="col-xs-4 col-xs-offset-2">
    <%= attachment_image_tag(@product, :image, size: "340x220", fallback: "no_image.jpg" ) %>
  </div>
  <div class="col-xs-6 ">
    <div class="product-description">
      <div class="product-name">
        <h2><%= @product.name %></h2>
      </div>
      <div>
        <%= @product.introduction %>
      </div>
      <div class="product-price">
        <h3>¥ <%= tax_price(@product.price).to_s(:delimited) %>
            <span class="tax">(税込)</span>
        </h3>
      </div>
    </div>
  </div>
</div>
