<div class="container my-5">
  <div class="row">
    <div class="col-md-4 mb-4 text-center">
      <h2 style="background:#EEEEEE;" class="rounded-circle">ジャンル一覧・追加</h2>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= form_with model: @genre, url: "/admin/genres/#{@genre.id}",local:true do |f| %>
        ジャンル名
        <%= f.text_field :name %>
        <%= f.submit "変更を保存", class: "btn btn-success rounded-pill" %>
      <% end %>
    </div>
  </div>
</div>
