<div class="container">  
  <div class="row">
    <div class="col-lg-7 offset-lg-2 mt-5" >
      <div class="topimage">
        <p class="toptext">ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない⽅も商品の閲覧はできますが、<br>
        購⼊には会員登録が必要になります。
        </p>
      </div>
      <div class="newproducts">
        <h1>新着商品</h1>
        <%= link_to "全ての商品を見る", products_path %>
      </div>
    </div>

  </div>
</div>