// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topimage {
  height: 300px;
  width: 500px;
  background-image: url('nagano-cake-top.jpg');
  background-size: cover;
}

.toptext {
  height: 150px;
  width: 400px;
  color: white;
  margin: 0 auto;
  padding-top: 50px;
}
