// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topimage {
  height: 250px;
  width: 500px;
  background-image: url('nagano-cake-top.jpg');
  background-size: cover;
  border: outset 5px #900;
}

.toptext {
  font-size: 18px;
  height: 150px;
  line-height: 30px;
  width: 420px;
  color: white;
  margin: 0 auto;
  padding-top: 50px;
  text-shadow: 1px 2px 3px #808080;
}

.newproducts {
  display: inline-block; 
}
