<div class="container my-5">
    <div class="row">
      <div class="offset-1">
        <h2 class="red-border px-3 pb-1">ショッピングカート</h2>
      </div>

			<div class="ml-auto">
			   <%= link_to "カートを空にする", cart_items_path, method: :delete, class: "btn btn-sm btn-danger" %>
			   <%#ALL削除になる？？itemにするとエラーになる%>
			</div>
    </div>